*{
    margin: 0;
    padding: 0;
}

section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 740px;

}
h2{
    text-transform: capitalize;
    text-shadow: 2px 2px 4px red;
}
h3{
    text-transform: capitalize;
    margin: 10px;
    color: brown;
    text-shadow: 2px 1px white;
}
p{
    text-transform: none;
    letter-spacing: 0.5px;
    margin: 10px;
}
input{
    height: 25px;
    width: 230px;
    margin: 5px;
    padding: 5px;
    margin: 0px;
    font-size: 20px;
}
.main-class{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 500px;
    width: 360px;
    margin:30px;
    border-radius: 8px;
    border: 1px solid rgb(129, 216, 135);
    background-color: white;
    border-bottom: 5px rgb(106, 212, 106) solid;
}
.manuu-logo{
    height: 130px;
    background-image: url("./manuu-2.jpg");
    background-size:cover ;
    background-color: rgb(44, 207, 77);
    width: 360px;
    margin-bottom: 40px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    color: white;
    letter-spacing: 7px;
}
#id-user{
    margin-top: 15px;
    border-radius: 6px;
    border: 1px solid gray;
    outline: 1px ridge rgb(205, 191, 191);
    outline-width: thin;
}

#id-pass{
    margin-top: 15px;
    border-radius: 6px;
    border: 1px solid gray;
    outline: 1px ridge rgb(205, 191, 191);
    outline-width: thin;
}
#id-but{
    margin-bottom: 30px;
    height: 35px;
    border-radius: 6px;
    color: white;
    background-color: rgb(44, 207, 77);
    border: none;
    
}
#p-red{
    color: red;
}
#p-blue{
    color: blue;
   
}
body{
    background-color: rgb(171, 206, 194);
}